/* ---------- Reset ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #9be7ff, #b2fab4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- Container ---------- */
.app-container {
  width: 900px;
  height: 500px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.form-box {
  display: flex;
  width: 200%;
  transition: 0.8s ease-in-out;
}

.form-box.active {
  transform: translateX(-50%);
}

.login-box,
.signup-box {
  width: 50%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

button {
  padding: 12px;
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00796b;
}

.toggle-text {
  margin-top: 15px;
  color: #444;
}

.toggle-text span {
  color: #00796b;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}
